################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmallRoad/Branch/WebSite/packages
/SmallRoad/Branch/WebSite/SmallRoadWeb/bin
/SmallRoad/Branch/WebSite/SmallRoadWeb/obj
/SmallRoad/Branch/WebSite/SmallRoadWeb.Tests/obj/Debug
/SmallRoad/Branch/WebSite/SmallRoadWeb.Tests/bin/Debug
/SmallRoad/Branch/WebSite/.vs
/SmallRoad/Branch/WebSite/.vs/SmallRoadWeb/v14
