################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SmallRoad/Branch/WebSite/packages
/SmallRoad/Branch/WebSite/SmallRoadWeb/bin
