@{
    ViewBag.Title = "Roteiro";
    Layout = "~/Views/Shared/_Motorista.cshtml";
}
<div ng-app="RoteiroMotoristaApp">
    <div ng-controller="RoteiroMotoristaController" class="container-fluid">
        <h1>Entregas a Realizar</h1>
        <hr />
        <h1>Roteiro</h1>
    </div>
</div>

<script src="~/Lib/JQuery/jquery-3.1.1.min.js"></script>
<script src="~/Lib/AngularJS/angular.min.js"></script>
<script src="~/Lib/Ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="~/Lib/Bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/Views/roteiroMotorista.js"></script>
<script src="~/Scripts/diretivas.js"></script>