@{
    ViewBag.Title = "Roteiro";
    Layout = "~/Views/Shared/_Motorista.cshtml";
}
<div ng-app="RoteiroMotoristaApp">
    <div ng-controller="RoteiroMotoristaController" class="container-fluid">
        <h1>Entregas a Realizar</h1>
        <div class="row">
            <!-- Table Area-->
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Destinatário</th>
                            <th>Bairro</th>
                            <th>Prazo</th>
                            <th>Observação</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @*<tr ng-repeat="i in (carrinhoDeCompras).slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                            <td>{{i.NomeProduto}}</td>
                            <td>{{i.Categoria.Nome}}</td>
                            <td>{{i.Quantidade}}</td>
                            <td>{{i.Importado == "S" && "Sim" || "Não"}}</td>
                            <td><span ng-click="removerItemDoCarrinho(i)" class="glyphicon glyphicon-remove action-icon" aria-hidden="true" data-placement="top" title="Remover item do carrinho" style="color:red; cursor: pointer"></span></td>
                        </tr>*@
                    </tbody>
                </table>
                @*<span id="no-result" ng-show="carrinhoDeCompras.length == 0">Seu carrinho está vazio.</span>*@
            </div>
        </div>
        <hr />
        <h1>Roteiro</h1>
    </div>
</div>

<script src="~/Lib/JQuery/jquery-3.1.1.min.js"></script>
<script src="~/Lib/AngularJS/angular.min.js"></script>
<script src="~/Lib/Ui-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
<script src="~/Lib/Bootstrap/js/bootstrap.min.js"></script>
<script src="~/Scripts/Views/roteiroMotorista.js"></script>
<script src="~/Scripts/diretivas.js"></script>